<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
  <div class="ui top attachedlo">
    <div class="item">
      <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
      <div class="content">
        <small><%= blog.created.toDateString() %></small>
      </div>
      <div class="description">
        <p><%= blog.body %></p>
      </div>
      <hr>
      <a class="ui primary button" href="/blogs/<%= blog._id %>/edit">Edit</a>
      <form class="inline-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">DELETE</button>
      </form>
    </div>
  </div>
</div>


<% include partials/footer %>